@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global classes */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

img {
    transition: transform .5s;
}
  
img:hover {
    transform: scale(1.2);
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 8px 8px;
    width: 120px;
    transition: transform .5s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

/* Navigation bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 75%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

.nav-bar a:hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

/* Hero section */
.hero {
    background-color: #1F2937;
}

.hero .nav-bar {
    justify-content: space-between;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
    margin: auto;
    padding-bottom: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

/* Images section */
.image-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.image-section h1 {
    padding-top: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-section p {
    font-style: italic;
    font-size: 14px;
    padding-bottom: 40px;
}

.image-section img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.images {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.images div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.images div span {
    width: 150px;
    text-align: center;
    overflow-wrap: break-word;
}

/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote-section div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-family: "Playwrite HR Lijeva", cursive, sans-serif;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 300;
}

/* Sign up section */
.sign-up-element {
    background-color: #3882F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 40px 40px;
    gap: 10px;
}

.sign-up-element h2,
.sign-up-element p {
    color: white;
}

.sign-button {
    border-radius: 8px;
    border: 1px solid white;
}

/* Footer section */
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    gap: 15px;
}

.footer a:hover {
    transform: scale(1.5);
}